
input#search_input {
	border-radius: 10px;
	float: right;
	box-shadow: 1px 1px 5px #4ba6c3;
	text-align: center;
	border: #4ba6c3 solid 2px;
	height: 25px;
}

input#search_input:focus {
	outline: none;
}

/* these center the placeholder text in the search input */

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

/* styling the pagination buttons */

.student-list {
	text-align: center;
}

.pagination-li {
	display: inline-block;
	margin-top: 30px;
}

.pagination-link {
	border: 1px #4ba6c3 solid;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
	text-decoration: none;
	box-shadow: 1px 1px 5px #4ba6c3;
}

.pagination-link:visited {
	color: 	#4ba6c3;
}

.pagination-link:hover {
	background-color: #4ba6c3;
	color: white;
}

.active {
	background-color: #4ba6c3;
	color: white !important;
	font-weight: bold;

}

/* Making things look slightly better on small browser windows */

@media (max-width: 460px) {
	input#search_input {
		float: left;
		clear: both;
		margin-top: 25px;
		margin-bottom: 10px;
	}

	.page-header {
		margin-left: 20%;
		margin-right: 20%;
	}

	.page-header h2 {
		margin-left: 30px;
	}

}

/* just fixing something that bugs me */

.page-header h2 {
	margin-top: 6px;	
}
